{% extends 'base.html' %}

{% load static %}

{% block ext_css %}
    <link rel="stylesheet"
          href="{% static 'download_templates/vendors/iconfonts/font-awesome/css/font-awesome.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'extends/css/toastr.min.css' %}">
    <link rel="stylesheet" href="{% static 'extends/css/waitMe.css' %}">
{% endblock %}


{% block content_wrapper %}
    <div class="content-wrapper">
        <div class="row grid-margin">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">添加域名</h4>
                        <form class="cmxform" id="commentForm" method="post" action="#">{% csrf_token %}
                            <fieldset>
                                <div class="form-group">
                                    <label for="domain">域名 (必填)</label>
                                    <input id="domain" class="form-control" name="name" minlength="2"
                                           type="text"
                                           required>
                                </div>

                                <div class="form-group">
                                    <label for="dns_company">DNS解析商（必选）</label>
                                    <select class="form-control" id="sel" onchange="doit(this.value)">
                                        <option value="0">请选择</option>
                                        <option value="DNSPod">DNSPod</option>
                                        <option value="CloudFlare">CloudFlare</option>
                                        <option value="Aliyun">Aliyun</option>
                                    </select>
                                </div>

                                {#                        隐藏输入框#}
                                {#                    DnsPod#}
                                <div class="form-group" style="display: none;" id="dnspod_toggle">
                                    <label for="dnspod_id" class="col-form-label">ID（必填）</label>
                                    <input type="text" class="form-control" id="dnspod_key">
                                    <label for="dnspod_token" class="col-form-label">Token（必填）</label>
                                    <input type="text" class="form-control" id="dnspod_token">
                                </div>

                                {#                    cloudflare#}
                                <div class="form-group" style="display: none;" id="cloudflare_toggle">
                                    <label for="cloudflare_key" class="col-form-label">Key（必填）</label>
                                    <input type="text" class="form-control" id="cloudflare_key">
                                    <label for="cloudflare_email" class="col-form-label">Email（必填）</label>
                                    <input type="text" class="form-control" id="cloudflare_token">
                                </div>

                                {#                    Aliyun#}
                                <div class="form-group" style="display: none;" id="aliyun_toggle">
                                    <label for="aliyun_key" class="col-form-label">Key（必填）</label>
                                    <input type="text" class="form-control" id="aliyun_key">
                                    <label for="aliyun_secret" class="col-form-label">Secret（必填）</label>
                                    <input type="text" class="form-control" id="aliyun_token">
                                </div>
                                {#                        隐藏输入框#}


                                <div class="form-group">
                                    <br>
                                    <label for="to_email">接收邮箱 (必填)</label>
                                    <input id="to_email" class="form-control" type="email" name="to_email"
                                           required>
                                </div>

                                <div class="form-group">
                                    <label for="cc_email">抄送邮箱 (可选)</label>
                                    <input id="cc_email" class="form-control" type="text" name="cc_email"
                                           placeholder="选填（抄送邮箱，如填多个，以逗号分隔）">
                                </div>
                            </fieldset>
                            <input class="btn btn-primary" type="button" value="添加" onclick="create_ssl_cert()">
                            <input class="btn btn-primary" type="reset" value="清空">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block ext_js %}
    <script src="{% static 'download_templates/js/form-validation.js' %}"></script>
    <script src="{% static 'download_templates/js/bt-maxLength.js' %}"></script>
    <script src="{% static 'extends/js/toastr.min.js' %}"></script>
    <script src="{% static 'extends/js/waitMe.js' %}"></script>
    <script src="{% static 'extends/js/operate.js' %}"></script>

    <script>
        function show(objid) {
            $('#' + objid).css({display: 'inline'});
        }

        function hidden(objid) {
            $('#' + objid).css({display: 'none'});
        }

        function doit(val) {
            var sel_val = val;

            if (sel_val === 0) {
                hidden('dnspod_toggle');
                hidden('cloudflare_toggle');
                hidden('aliyun_toggle');
            }
            if (sel_val === "DNSPod") {
                show('dnspod_toggle');
                hidden('cloudflare_toggle');
                hidden('aliyun_toggle');
            }
            if (sel_val === "CloudFlare") {
                show('cloudflare_toggle');
                hidden('dnspod_toggle');
                hidden('aliyun_toggle');
            }
            if (sel_val === "Aliyun") {
                show('aliyun_toggle');
                hidden('dnspod_toggle');
                hidden('cloudflare_toggle');
            }
        }
    </script>

    <script>
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": false,
            "progressBar": true,
            "positionClass": "toast-top-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
    </script>

{% endblock %}


