<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>SSL证书管理-登陆</title>

    {% load static %}

    <!-- plugins:css -->
    <link rel="stylesheet"
          href="{% static 'download_templates/vendors/iconfonts/simple-line-icon/css/simple-line-icons.css' %}">
    <link rel="stylesheet"
          href="{% static 'download_templates/vendors/iconfonts/flag-icon-css/css/flag-icon.min.css' %}">
    <link rel="stylesheet" href="{% static 'download_templates/vendors/css/vendor.bundle.base.css' %}">
    <link rel="stylesheet" href="{% static 'download_templates/vendors/css/vendor.bundle.addons.css' %}">
    <link rel="stylesheet" href="{% static 'download_templates/css/style.css' %}">
    <link rel="shortcut icon" href="{% static 'download_templates/images/favicon.png' %}"/>

    {#    <link rel="stylesheet" href="https://unpkg.com/mobi.css/dist/mobi.min.css">#}
    <style>
        {#覆盖模板中的页面背景样式#}
        .auth.auth-bg-1 {
            background: initial;
        }
    </style>
</head>

<body>
<div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="content-wrapper d-flex align-items-center auth auth-bg-1 theme-one">
            <div class="row w-100 mx-auto">
                <div class="col-lg-4 mx-auto">
                    <div class="auto-form-wrapper">
                        <form action="{% url 'users:login' %}" method="post"> {% csrf_token %}
                            <h3 style="text-align: center; margin: 0px auto 15px auto; color: black">
                                欢迎登录
                            </h3>
                            <div>
                                {% if form.non_field_errors %}
                                    {% for error in form.non_field_errors %}
                                        <div class="alert alert-danger">{{ error }}</div>
                                    {% endfor %}
                                {% endif %}
                                {% if form.username.errors %}
                                    {% for error in form.username.errors %}
                                        <div class="alert alert-danger">用户名: {{ error }}</div>
                                    {% endfor %}
                                {% endif %}
                                {% if form.password.errors %}
                                    {% for error in form.password.errors %}
                                        <div class="alert alert-danger">密码: {{ error }}</div>
                                    {% endfor %}
                                {% endif %}
                                {% if form.captcha.errors %}
                                    {% for error in form.captcha.errors %}
                                        <div class="alert alert-danger">验证码: {{ error }}</div>
                                    {% endfor %}
                                {% endif %}
                                {% if error_message %}
                                    <div class="alert alert-danger">{{ error_message }}</div>
                                {% endif %}
                            </div>

                            <div class="form-group">
                                <label class="label">用户名</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="请输入用户名" name="username"
                                           oninput="changeIcon(this)">
                                    <div class="input-group-append">
                                        <span class="input-group-text"><i class="icon-check"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="label">密码</label>
                                <div class="input-group">
                                    <input type="password" class="form-control" placeholder="请输入密码" name="password"
                                           oninput="changeIcon(this)">
                                    <div class="input-group-append">
                                        <span class="input-group-text"><i class="icon-check"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="label"><img src="{{ imgage_url }}" class="captcha" alt="captcha"></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="id_reg_captcha_1" name="captcha_1"
                                           placeholder="请输入验证码"
                                           oninput="changeIcon(this)">
                                    <div class="input-group-append">
                                        <span class="input-group-text"><i class="icon-check"></i></span>
                                    </div>
                                    <input id="id_reg_captcha_0" name="captcha_0" type="hidden" value="{{ hashkey }}">
                                </div>
                            </div>

                            <div class="form-group">
                                <input type="hidden" name="next" value="{{ next }}"/>
                                <button class="btn btn-primary submit-btn btn-block" type="submit">登 录</button>
                            </div>
                            <div class="form-group d-flex justify-content-between">
                                <div class="form-check form-check-flat mt-0">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input" checked>
                                        Keep me signed in
                                    </label>
                                </div>
                                <a href="{% url 'password_reset' %}"
                                   class="text-small forgot-password text-black">忘记密码</a>
                            </div>

                            {#                            <div class="text-block text-center my-3">#}
                            {#                                <span class="text-small font-weight-semibold">没有账号 ?</span>#}
                            {#                                <a href="{% url 'users:register' %}" class="text-black text-small">立即注册</a>#}
                            {#                            </div>#}
                        </form>
                    </div>
                    <ul class="auth-footer">
                        <li><a href="#">Conditions</a></li>
                        <li><a href="#">Help</a></li>
                        <li><a href="#">Terms</a></li>
                    </ul>
                    <p class="footer-text text-center">copyright © 2019 GAEA. All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'download_templates/vendors/js/vendor.bundle.base.js' %}"></script>
<script src="{% static 'download_templates/vendors/js/vendor.bundle.addons.js' %}"></script>
<script src="{% static 'download_templates/js/template.js' %}"></script>

<script>
    function changeIcon(t) {
        if ($(t).val()) {
            $(t).parent().find("div span i").addClass("alert-success");
        } else {
            $(t).parent().find("div span i").removeClass("alert-success");
        }
    }

    {# ajax 验证码刷新#}
    $(".captcha").click(function () {   //更新验证码图片ajax
            $.getJSON("/captcha/refresh/", function (data) {
                    $(".captcha").attr("src", data['image_url']);
                    $("#id_captcha_0").attr("value", data['key']);
                }
            );
        }
    );

</script>
</body>
</html>
