<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>SSL证书管理-修改密码</title>

    {% load static %}

    <link rel="stylesheet"
          href="{% static 'download_templates/vendors/iconfonts/simple-line-icon/css/simple-line-icons.css' %}">
    <link rel="stylesheet"
          href="{% static 'download_templates/vendors/iconfonts/flag-icon-css/css/flag-icon.min.css' %}">
    <link rel="stylesheet" href="{% static 'download_templates/vendors/css/vendor.bundle.base.css' %}">
    <link rel="stylesheet" href="{% static 'download_templates/vendors/css/vendor.bundle.addons.css' %}">
    <link rel="stylesheet" href="{% static 'download_templates/css/style.css' %}">
    <link rel="shortcut icon" href="{% static 'download_templates/images/favicon.png' %}"/>
    <style>
        {#覆盖模板中的页面背景样式#}
        .auth.register-bg-1 {
            background: initial;
        }
    </style>
</head>

<body>
<div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="content-wrapper d-flex align-items-center auth register-bg-1 theme-one">
            <div class="row w-100 mx-auto">
                <div class="col-lg-4 mx-auto">
                    <h2 class="text-center mb-4">修改密码</h2>
                    <div class="auto-form-wrapper">
                        <form action="{% url 'password_change' %}" method="post">{% csrf_token %}
                            <div>
                                {% if form.non_field_errors %}
                                    {% for error in form.non_field_errors %}
                                        <div class="alert alert-danger">{{ error }}</div>
                                    {% endfor %}
                                {% endif %}
                                {% if form.old_password.errors %}
                                    {% for error in form.old_password.errors %}
                                        <div class="alert alert-danger">密码：{{ error }}</div>
                                    {% endfor %}
                                {% endif %}
                                {% if form.new_password1.errors %}
                                    {% for error in form.new_password1.errors %}
                                        <div class="alert alert-danger">密码：{{ error }}</div>
                                    {% endfor %}
                                {% endif %}
                                {% if form.new_password2.errors %}
                                    {% for error in form.new_password2.errors %}
                                        <div class="alert alert-danger">确认密码：{{ error }}</div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <div class="form-group">
                                <label class="label">旧密码</label>
                                <div class="input-group">
                                    <input type="password" class="form-control" placeholder="旧密码" id="id_old_password"
                                           name="old_password" oninput="changeIcon(this.id)">
                                    <div class="input-group-append">
                                        <span class="input-group-text"><i class="icon-check"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="label">新密码</label>
                                <div class="input-group">
                                    <input type="password" class="form-control" placeholder="新密码" id="id_new_password1"
                                           name="new_password1" oninput="changeIcon(this.id)">
                                    <div class="input-group-append">
                                        <span class="input-group-text"><i class="icon-check"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="label">确认新密码</label>
                                <div class="input-group">
                                    <input type="password" class="form-control" placeholder="确认密码"
                                           id="id_new_password2" name="new_password2" oninput="changeIcon(this.id)">
                                    <div class="input-group-append">
                                        <span class="input-group-text"><i class="icon-check"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary submit-btn btn-block" type="submit">修改</button>
                                <input type="hidden" name="next" value="{{ next }}"/>
                            </div>
                            {#                <div class="text-block text-center my-3">#}
                            {#                  <span class="text-small font-weight-semibold">Already have and account ?</span>#}
                            {#                  <a href="login.html" class="text-black text-small">Login</a>#}
                            {#                </div>#}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- plugins:js -->
<script src="{% static 'download_templates/vendors/js/vendor.bundle.base.js' %}"></script>
<script src="{% static 'download_templates/vendors/js/vendor.bundle.addons.js' %}"></script>
<script src="{% static 'download_templates/js/template.js' %}"></script>

<script>
    function changeIcon(id) {
        if ($("#" + id).val()) {
            $("#" + id).parent().find("div span i").addClass("alert-success");
        } else {
            $("#" + id).parent().find("div span i").removeClass("alert-success");
        }
    }
</script>

</body>
</html>
