{% extends 'base.html' %}

{% load static %}
{% block ext_css %}
    <link rel="stylesheet" href="{% static 'extends/css/toastr.min.css' %}">
{% endblock %}

{% block content_wrapper %}
    <div class="content-wrapper">
        <div class="row">
            <div class="col-12 grid-margin">
                <div class="card">
                    <div class="row">
                        <div class="col-md-12 grid-margin grid-margin-md-0 stretch-card">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">域名: <span style="text-transform: lowercase"
                                                                     id="domain"></span></h4>
                                    <div class="form-group">
                                        <select class="js-example-basic-single w-100" id="selectDomain"
                                                onchange="selectChange()" style="width: 40%">
                                            <option value="0" selected="selected">请选择</option>
                                            {% for item in domains %}
                                                <option value="{{ item.id }}">{{ item.domain }}</option>
                                            {% empty %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 grid-margin">
                <div class="card">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card-body">
                                <h4 class="card-title">证书</h4>
                                {#                                <p class="card-description">域名:</p>#}
                                <div class="mt-3">
                                    <button type="button" class="btn btn-outline-primary btn-clipboard"
                                            data-clipboard-action="copy" data-clipboard-target="#certClipboard">复制
                                    </button>
                                    <button type="button" class="btn btn-outline-primary"
                                            onclick="download_cert('cert')">下载
                                    </button>
                                </div>
                                <br>
                                <textarea id="certClipboard" class="form-control" readonly
                                          style="overflow:hidden">None</textarea>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card-body">
                                <h4 class="card-title">key</h4>
                                {#                                <p class="card-description">域名:</p>#}
                                <div class="mt-3">
                                    <button type="button" class="btn btn-outline-primary btn-clipboard"
                                            data-clipboard-action="copy" data-clipboard-target="#keyClipboard">复制
                                    </button>
                                    <button type="button" class="btn btn-outline-primary"
                                            onclick="download_cert('key')">下载
                                    </button>
                                </div>
                                <br>
                                <textarea id="keyClipboard" class="form-control" readonly
                                          style="overflow:hidden">None</textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block ext_js %}
    <script src="{% static 'download_templates/js/clipboard.js' %}"></script>
    <script src="{% static 'download_templates/js/select2.js' %}"></script>
    <script src="{% static 'extends/js/cert_page.js' %}"></script>
    <script src="{% static 'extends/js/toastr.min.js' %}"></script>

    <script>
        $(function () {
            load_cert_content();
        });
    </script>
{% endblock %}