{% extends 'pages/modals/base_modals.html' %}

<!-- The add domain record Modal -->

{#{% block modal-title %}#}
{#    添加记录#}
{#{% endblock %}#}

{% block modal-body %}
    <div class="modal-body">

        <div class="form-group">
            <label for="add domain record" class="col-form-label">主机记录:</label>
            <input type="text" class="form-control" id="host_record">
        </div>

        <div class="form-group">
            <label for="add domain record" class="col-form-label">记录类型:</label>
            <select id="selectType" class="form-control form-control-sm" onchange="typeToggle(this.value)">
                <option value="A">A - 将域名指向一个IPV4地址</option>
                <option value="CNAME">CNAME - 将域名指向另外一个域名</option>
                <option value="AAAA">AAAA - 将域名指向一个IPV6地址</option>
                <option value="NS">NS - 将子域名指向其他DNS服务器解析</option>
                <option value="MX">MX - 将域名指向邮件服务器地址</option>
                <option value="SRV">SRV - 记录提供特定的服务的服务器</option>
                <option value="TXT">TXT - 文本长度限制512，通常做SPF记录（反垃圾邮件）</option>
                <option value="CAA">CAA - CA证书颁发机构授权校验</option>
                <option value="显示URL">显示URL - 将域名302重定向到另外一个地址</option>
                <option value="隐性URL">隐性URL - 与显示URL类似，但是会隐藏真实目标地址</option>
            </select>
        </div>

        <div class="form-group" id="record_line">
            <label for="add domain record" class="col-form-label">解析线路:</label>
            <select id="selectLine" class="form-control form-control-sm">
                <option value="默认">默认</option>
                <option value="移动">移动</option>
                <option value="联通">联通</option>
                <option value="电信">电信</option>
                <option value="教育网">教育网</option>
                <option value="国外">国外</option>
            </select>
        </div>

        <div class="form-group">
            <label for="add domain record" class="col-form-label">记录值:</label>
            <input type="text" class="form-control" id="record_value">
        </div>

        {#        <div class="form-group">#}
        {#            <label for="add domain record" class="col-form-label">权重:</label>#}
        {#            <input type="text" class="form-control">#}
        {#        </div>#}

        <div class="form-group" id="MX_input" style="display: none">
            <label for="add domain record" class="col-form-label">MX优先级:</label>
            <input type="text" class="form-control" id="MX" placeholder="范围1-20">
        </div>

        <div class="form-group">
            <label for="add domain record" class="col-form-label">TTL（秒）:</label>
            <input type="text" class="form-control" value="600" id="ttl">
        </div>
    </div>
{% endblock %}

{% block modal-footer %}
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary" onclick="add_record()">确定</button>
    </div>

    <script>
        function typeToggle(value) {
            if (value === "MX") {
                $("#MX_input").show();
            } else {
                $("#MX_input").hide();
            }
        }

        window.onload = function () {
            {# id dns_company 在all_sub_domain.html 页面中#}
            var dns_company = $("#dns_company").text();

            if (dns_company.toLowerCase() === "cloudflare") {
                $("#record_line").hide()
            } else {
                $("#record_line").show()
            }
        };
    </script>
{% endblock %}

