{% extends 'pages/modals/base_modals.html' %}

<!-- The Email Modal -->

{% block modal-title %}
    E-mail
{% endblock %}

{% block modal-body %}
    <div class="modal-body">
        <input hidden id="email_hidden_id">
        <div class="form-group">
            <label for="to_email" class="col-form-label">接收邮箱:</label>
            <input type="text" class="form-control" id="toEmail" readonly>
        </div>
        <div class="form-group">
            <label for="cc_email" class="col-form-label">抄送邮箱:</label>
            <input type="text" class="form-control" id="ccEmail">
        </div>

        <div class="alert alert-primary" role="alert">
            <span>Ps: 如填多个邮箱，以逗号分隔</span>
        </div>
    </div>
{% endblock %}

{% block modal-footer %}
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary" onclick="modify_email()">修改</button>
    </div>
{% endblock %}