<table cellspacing="0" cellpadding="0" border="0" style="width: 100%; background-color: #F8F8F8;">
    <tbody>
    <tr>
        <td align="center" style="text-align: center; padding: 32px 20px 0;">
            <table cellspacing="0" cellpadding="0" border="0"
                   style="width: 800px; table-layout: fixed; margin: 0 auto; margin-bottom: 50px; background-color: #fff; border-radius: 4px">
                <tbody>
                <tr>
                    <th valign="middle"
                        style="height:40px;color:#fff; font-size:14px;line-height:40px; font-weight:bold;text-align:left;padding:10px 24px 6px; border-bottom:1px solid #467ec3;background:#009688;border-radius:5px 5px 0 0;">
                        SSL证书管理
                    </th>
                </tr>

                <tr>
                    <td style="padding: 50px 40px 20px 40px;">
                        <table cellspacing="0" cellpadding="0"
                               style="border: 1px solid #ddd; text-align: center; border-collapse: collapse; width: 100%; table-layout: fixed;">
                            {{ ssl_status }}
                            <!--
                            <thead>
                                <tr style="height: 30px">
                                    <th style="border: 1px solid #ddd;">域名</th>
                                    <th style="border: 1px solid #ddd;">证书状态</th>
                                    <th style="border: 1px solid #ddd;">有效期</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr style="height: 30px">
                                    <td style="border: 1px solid #ddd;">castleagegame.com</td>
                                    <td style="border: 1px solid #ddd;">证书创建成功</td>
                                    <td style="border: 1px solid #ddd;">2019-07-19</td>
                                </tr>
                            </tbody>
                            -->
                        </table>
                    </td>
                </tr>

                <tr>
                    <td style="padding:20px 40px 0 40px;">
                        <table style="width: 100%; background-color: #FCFCFC; padding: 20px 50px; margin: 0 auto; border-radius: 4px; border: 1px solid #EBEBEB; border-collapse: collapse;">
                            {{ sub_domain }}
                            <!--
                              <thead>
                                <tr style="height: 30px">
                                  <th style="border: 0px;" colspan="6">所属子域名</th>
                                </tr>
                                <tr style="height: 30px">
                                  <th style="border: 1px solid #ddd;">协议</th>
                                  <th style="border: 1px solid #ddd;">主机记录</th>
                                  <th style="border: 1px solid #ddd;">记录类型</th>
                                  <th style="border: 1px solid #ddd;">记录值</th>
                                  <th style="border: 1px solid #ddd;">证书有效期</th>
                                  <th style="border: 1px solid #ddd;">剩余天数</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr style="height: 30px">
                                  <td style="border: 1px solid #ddd;">https</td>
                                  <td style="border: 1px solid #ddd;">iphonetest</td>
                                  <td style="border: 1px solid #ddd;">CNAME</td>
                                  <td style="border: 1px solid #ddd;">image4test.castleagegame.com.cdn.dnsv1.com</td>
                                  <td style="border: 1px solid #ddd;">2019-07-19</td>
                                  <td style="border: 1px solid #ddd;">7</td>
                                </tr>
                                <tr style="height: 30px">
                                  <td style="border: 1px solid #ddd;">http</td>
                                  <td style="border: 1px solid #ddd;">svn-pa</td>
                                  <td style="border: 1px solid #ddd;">A</td>
                                  <td style="border: 1px solid #ddd;">169.47.193.115</td>
                                  <td style="border: 1px solid #ddd;"></td>
                                  <td style="border: 1px solid #ddd;"></td>
                                </tr>
                              </tbody>
                              -->
                        </table>
                    </td>
                </tr>

                <tr>
                    <td style="padding: 40px 0 60px 0;">
                        <a href="https://cert.gaeamobile-inc.net/"
                           style="text-decoration:none;display:block;width:240px;height:40px;font-size:17px;line-height:40px;text-align:center;color:#fff;background:#009688;border-radius:4px;margin:0 auto;"
                           target="_blank">浏览网站</a>
                    </td>
                </tr>

                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
