{% extends 'users/settings/base-settings.html' %}


{% block settings_content %}
    <div class="fly-panel fly-panel-user" pad20>
        <div class="layui-tab layui-tab-brief" lay-filter="user">
            <ul class="layui-tab-title" id="LAY_mine">
                <li class="layui-this" lay-id="info">邮件服务</li>
            </ul>
            <div class="layui-tab-content" style="padding: 10px 0;">
                <blockquote class="layui-elem-quote">用于发送证书及证书到期提醒</blockquote>
                <div class="layui-form layui-form-pane layui-tab-item layui-show">


                    <form method="post">
                        <div class="layui-form-item">
                            <label for="L_email" class="layui-form-label">邮箱</label>
                            <div class="layui-input-inline">
                                <input type="text" id="L_email" name="email" required lay-verify="email"
                                       autocomplete="new-email" value="" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label for="L_nowpass" class="layui-form-label">密码</label>
                            <div class="layui-input-inline">
                                <input type="password" id="L_password" name="password" required lay-verify="required"
                                       autocomplete="new-password" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label for="L_email" class="layui-form-label">服务器</label>
                            <div class="layui-input-inline">
                                <input type="text" id="L_server" name="server" required lay-verify="required"
                                       autocomplete="off" value=""
                                       class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label for="L_email" class="layui-form-label">端口</label>
                            <div class="layui-input-inline">
                                <input type="text" id="L_port" name="port" required lay-verify="required"
                                       autocomplete="off" value=""
                                       class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label for="L_username" class="layui-form-label">SSL加密</label>
                            <div class="layui-inline">
                                <input type="radio" name="ssl" value="on" checked title="yes" id="radio1">
                                <input type="radio" name="ssl" value="off" title="no" id="radio2">
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <button type="button" class="layui-btn" key="set-mine" lay-filter="formSubmit" lay-submit>提交
                            </button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        $(function () {
            {#从0开始计数#}
            $(".fly-marginTop ul li:eq(1)").addClass("layui-this");
        })
    </script>
    <script>
        layui.use(['form'], function () {
            var form = layui.form, layer = layui.layer;
            form.on('submit(formSubmit)', function (data) {
                // if (data.field['ssl'] === "on") {
                //     data.field['ssl'] = Boolean(true);
                // } else {
                //     data.field['ssl'] = Boolean(false)
                // }
                {#layer.alert(JSON.stringify(data.field));#}
                (data.field)['csrfmiddlewaretoken'] = "{{ csrf_token }}";
                emailConfig(data.field);
                {#layer.alert(JSON.stringify(data.field));#}
            })
        })
    </script>

    <script>
        // email 配置
        function emailConfig(data) {
            var url = "{% url 'users:email_config' %}";
            $.post(url, data, function (result) {
                if (result['status'] === "success") {
                    layer.msg("修改成功");
                } else {
                    layer.alert("修改失败");
                }
            });
        }

        // 获取email的配置
        $(function () {
            var url = "{% url 'users:email_config' %}";
            $.get(url, {}, function (result) {
                $("#L_email").val(result['email']);
                $("#L_password").val(result['password']);
                $("#L_server").val(result['server']);
                $("#L_port").val(result['port']);
                if (result['ssl']) {
                    $("#radio1").attr("checked", "checked");
                    $("#radio2").removeAttr("checked");
                } else {
                    $("#radio2").attr("checked", "checked");
                    $("#radio1").removeAttr("checked");
                }
            })
        })
    </script>

{% endblock %}